# Ignore everything in these folders
bin/*
cache/*
lock/*
log/*
secrets/*

# Re-include all README.md files anywhere
!**/README.md

# Re-include profiles.yaml
!bin/profiles.yaml

# Ignore user specific repo configuration
conf/resticprofile/profiles_user.d/*

# Ignore backups in the test/ folder
test/**/backup
