# Ignore everything in these folders
bin/*
cache/*
lock/*
log/*
secrets/*

# Re-include all README.md files anywhere
!**/README.md

# Re-include profiles.yaml
!bin/profiles.yaml

# Ignore the entire test/ folder
test/
